aiohttp
pyrotgfork
python-dotenv
TgCrypto
feedparser
Flask
cloudscraper
requests
beautifulsoup4
lxml
torrent-parser
bencodepy
certifi
urllib3
setuptools
Pillow
aria2p>=0.11.0
pymongo
